body {
    font-family: 'Montserrat', sans-serif;
    
  margin: 0;
  padding: 0;
}
.flexible-container {
  display: flex;
  padding: 60px 60px;
}
.image-container img {
  width: 100%;
  width: 792px;
  transform: translateX(-200px);
 
}
.half-width {
  width: 50%;
  padding-top: 100px;
  padding-left: 70px;
}
.orange-color{
    color: #fba24f;
}
.half-width h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #575757;
}
.half-width p{
    font-size: 20px;
    font-weight: 500;
    color: #828282;
    margin-bottom: 70px;
}
.btn{
    text-decoration: none;
    background: linear-gradient(#fba24f,#ff1e1e);
    border-radius: 100px;
    color: white;
    padding: 20px 32px;
}
.image-container{
    text-align: left;
    width: 50%;
}
/* --------------------about me section----------------------------------- */
.about-me{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-position: center;
}
.about-me img{
    width: 338px;
    height: 536px;
    /* margin-right: 15%; */
}
.abt-me-half{
    width: 30%;
    padding: 50px 0;
}
.abt-me-half h2{
    font-size: 40px;
    font-weight: 700;
    color: #707070;
}
.abt-me-half p{
    font-weight: 400;
    font-size: 18px;
    color: #18191F;
    margin-bottom: 100px;
    text-align: justify;
}