body {
    font-family: 'Montserrat', sans-serif;
    
  margin: 0;
  padding: 0;
}
.flexible-container {
  display: flex;
  padding: 60px 60px;
}
.image-container img {
  width: 100%;
  width: 792px;
  transform: translateX(-200px);
 
}
.half-width {
  width: 50%;
  padding-top: 140px;
  padding-left: 70px;
}
.orange-color{
    color: #fba24f;
}
.half-width h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #575757;
}
.half-width p{
    font-size: 20px;
    font-weight: 500;
    color: #828282;
    margin-bottom: 70px;
}
.btn{
    text-decoration: none;
    background: linear-gradient(#fba24f,#ff1e1e);
    border-radius: 100px;
    color: white;
    padding: 20px 32px;
}
.image-container{
    text-align: left;
    width: 50%;
}
/* --------------------about me section----------------------------------- */
.about-me{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
    background-position: center;
}
.about-me img{
    width: 338px;
    height: 536px;
    /* margin-right: 15%; */
}
.abt-me-half{
    width: 30%;
    padding: 50px 0;
}
.abt-me-half h2{
    font-size: 40px;
    font-weight: 700;
    color: #707070;
}
.abt-me-half p{
    font-weight: 400;
    font-size: 18px;
    color: #18191F;
    margin-bottom: 100px;
    text-align: justify;
}
/* -------------------My recipies------------ */

.my-recipies{
    text-align: center;
    margin-top: 60px;
}
.my-recipies h2{
    color: #676767;
    font-size: 36px;
    font-weight: 700;
}
.my-recipies-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.my-recipies-container p{
    font-size: 18px;
    font-weight: 400;
    color: #252525;
}
.recipies{
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 60px;
    padding: 30px;
    border-radius: 30px;
   box-shadow: 0px 4px 40px 0px #00000026;
    text-align: left;
}
.recipies img{
    width: 550px;
    border-radius: 30px;
    height: 308px;
    width: 100%;
    object-fit: cover;
}
.recipies h3{
    font-size: 28px;
    font-weight: 800;
}
.recipies p{
    font-size: 18px;
    font-weight: 400;
    color: #18191F;
}
.social-media-container{
    margin: 0 auto;
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    box-shadow: 0px 0px 40px 0px #0000001A;
    border-radius: 30px;
    padding: 64px 165px;
    margin-bottom: 70px;

}
.social-media-container h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.social-media-container p{
    font-size: 16px;
    font-weight: 400;
    color: #18191F;
}
/* ----------footer--------------- */
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 50px 60px;
}

footer h2{
    color: #5B5B5B;
    ;
}
footer span{
    color: #fba24f;
}
footer p{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
